/* Global styles */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --main: rgba(62,196,77,1);
  --p: #363537;
  --header: #080708;
}

* {
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 16px;
}

h3 {
  font-size: 25px;
}

.container-2 {
  padding: 0 2em;
  margin: 0;
}

.container {
  padding: 0 2em;
  margin: 0;
  max-width: 360px;
}

.mobile-wrapper {
  height: 100px;
  width: 100px;
  margin-left: auto;
  background: rgb(212,255,96);
  border-bottom: 4px solid #fff;
  background: -moz-linear-gradient(40deg, rgba(212,255,96,1) 0%, rgba(14,179,35,1) 100%);
  background: -webkit-linear-gradient(40deg, rgba(212,255,96,1) 0%, rgba(14,179,35,1) 100%);
  background: linear-gradient(40deg, rgba(212,255,96,1) 0%, rgba(14,179,35,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4ff60",endColorstr="#0eb323",GradientType=1);
  border-radius: 0 0 0 100%;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-delay: 0;
  -webkit-border-radius: 0 0 0 100%;
  -moz-border-radius: 0 0 0 100%;
}

#navbar, nav {
  border-radius: 0 0 0 100%;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 10;
}

p, h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

/* hidden desktop elements */

.topper-flex,
#brand,
.navbar-menu,
.call-strip-button {
  display: none;
}

/* Buttons */
.button-solid {
  background: background: rgb(183,255,90);
  background: -moz-linear-gradient(135deg, rgba(183,255,90,1) 10%, rgba(17,181,36,1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(183,255,90,1) 10%, rgba(17,181,36,1) 100%);
  background: linear-gradient(135deg, rgba(183,255,90,1) 10%, rgba(17,181,36,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b7ff5a",endColorstr="#11b524",GradientType=1);;
  border-radius: 50px;
  border: none;
  color: #fff;
  font-weight: 700;
  width: auto;
  height: 50px !important;
  margin: 20px 0;
  padding: 0 30px;
  font-size: 13px;
  width: auto;
  transition: background-color .5s ease;
}

.button-solid:hover {
  background: #fff;
  color: rgba(17,181,36,1);
  transition: .5s;
}

.button-transparent {
    display: inline-block;
    background: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    font-size: 15px;
    margin: 10px 0;
    padding: 6px 30px;
    color: #FFFFFF;
    text-decoration: none;
    animation-delay: 0.6s;
    border-radius: 50px;
    white-space: nowrap;
    float: left;
    height: 50px;
    width: 230px;
}

.btn-hover {
    width: 230px;
    padding: auto 50px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 50px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: rgba(17,181,36,1);
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-5 {
    background-image: linear-gradient(to right, rgba(17,181,36,1), rgba(183,255,90,1), #fff,#fff);
} 

/*-- -------------------------- -->
<---         NAVIGATION         -->
<--- -------------------------- -*/

.navbar {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
}

/* logo and hamburger container */
.mobile-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 80px;
  background: transparent;
  position: relative;
  border-radius: 0 0 0 100%;
}

/* Hamburger Menu */
.open-slide {
  display: inline-block;
  width: auto;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 22px;
}

#wrapper {
  background: transparent;
  display:inline-block;
  margin:0px;
  position: absolute;
  cursor:pointer;
  right: 0;
}

.main-item {
  width:30px;
  height:30px;
  position:relative;
}

.line {
  position: absolute;
  height: 2px;
  width:100%;
  background: #fff;
  border-radius:1.5px;
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
}

.line01 {
  top:19%;
}

.line02 {
  top:49%;
}

.line03 {
  top:79%;
}

.menu.close .line01 {
  transform:rotate(45deg);
  top:49%;
}

.menu.close .line02, .menu.close .line03 {
  transform:rotate(-45deg);
  top:49%;
}

/* Hidden Menu */
#side-menu {
  background:  #231F20;
    position: relative;
    z-index: 5;
}

.side-nav {
  visibility: hidden;
  height: 0;
  transition: 0.3s 
}

.side-active {
  color: #0eb323;
  background: #fff;
  padding:  7px 40px;
  border-radius: 20px;
}

ul {
  text-align: center;
  padding: 30px 0;
  margin: 0;
}


ul a {
  text-decoration: none;
  color: #fff;
  line-height: 2em;
  font-weight: 700;
  transition: 0.2s ease-in-out;
  position: relative;
  right: -40px;
  top: -50px;
}

.delay-2 {
  transition-delay: 50ms;
  transition-delay: cubic-bezier(0.42, 0, 0.34, 1.75);
}

.delay-3 {
  transition-delay: 100ms;
  transition-delay: cubic-bezier(0.42, 0, 0.34, 1.75);
}

.delay-4 {
  transition-delay: 150ms;
  transition-delay: cubic-bezier(0.42, 0, 0.34, 1.75);
}

ul li {
  list-style: none;
}

ul#on-top {
    margin-bottom: 0;
    position: absolute;
    top: 10px;
    left: 30%;
}

.menu-center {
  position: absolute;
  top: 9px;
}

.menu-bottom {
  position: absolute;
  bottom: 0;
}

#mobile-logo-1 {
  display: none;
}

nav {
  position: relative;
  z-index: 40;
}

/*-- -------------------------- -->
<---          LANDING           -->
<--- -------------------------- -*/

#hero {
    height: 650px;
    width: 100%;
    background:url("yard.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
}

#dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 2;
}

#hero svg {
  position: absolute;
  z-index: 10;
  bottom: -2px;
}

.heroText {
  padding: 3em 0;
    position: relative;
    z-index: 3;
    height: auto;
    padding-top: 120px;
}

.heroText h1 {
  font-size: 32px;
  color: #fff;
  text-align: left;
  font-weight: 900;
  overflow-y: hidden;
  margin: 0;
}

.hero-line {
  background: rgb(62,196,77);
  background: -moz-linear-gradient(135deg, rgba(62,196,77,1) 10%, rgba(183,255,90,1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(62,196,77,1) 10%, rgba(183,255,90,1) 100%);
  background: linear-gradient(135deg, rgba(62,196,77,1) 10%, rgba(183,255,90,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ec44d",endColorstr="#b7ff5a",GradientType=1);
  height: 4px;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.heroText h2 {
  color: #fff;
  font-size: 14px;
  text-align: left;
  line-height: 1.6em;
  padding: 9px 0;
}

button.work,
button.quote-button {
  height: 45px;
  margin: 20px 0;
  padding: 0;
  font-size: 14px;
  width: 230px;
}
.work {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  height: 45px;
}

#call-strip h3 {
    font-size: 17px;
    color: #fff;
    text-align: left !important;
}

/* Leaf Animations */
/* leaf animations */

#leaves {
  position:absolute;
  top:-50px;
  width:100%;
  text-align: center;
  z-index: 8;
}

#leaves i {
    display: inline-block;
    width: 200px;
    height: 500px;
    background: linear-gradient(to bottom right, #309900, #005600);
    transform: skew(20deg);
    border-radius: 5% 40% 70%;
    box-shadow: inset 0px 0px 1px #222;
    border: 1px solid #333;
    z-index: 1;
    -webkit-animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) { -webkit-animation: falling2 5s 0s infinite; }
#leaves i:nth-of-type(3n) { -webkit-animation: falling3 5s 0s infinite; }

#leaves i:before {
  position: absolute;
  content: '';
  top: 117px;
  right: 9px;
  height: 27px;
  width: 32px;
  transform: rotate(49deg);
  border-radius: 0% 15% 15% 0%;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  border-left: 0px solid #222;
  border-right: 1px solid #222;
  background: linear-gradient(to right, rgba(0,100,0,1), #005600);
  z-index: 1;
}

#leaves i:after {
  content: '';
  height: 125px;
  width: 10px;
  background: linear-gradient(to right, rgba(0,0,0,.15), rgba(0,0,0,0));
  display: block;
  transform: rotate(125deg);
  position: absolute;
  left: 85px;
  border-radius:50%;
}


#leaves i:nth-of-type(n)    { height:23px; width:30px; }
#leaves i:nth-of-type(n):before { width:7px; height:5px; top:17px; right:1px; }
#leaves i:nth-of-type(n):after { width:2px; height:17px; left: 12px; top:0px; }

#leaves i:nth-of-type(2n+1)    { height:11px; width:16px; }
#leaves i:nth-of-type(2n+1):before { width:4px; height:3px; top:7px; right:0px; }
#leaves i:nth-of-type(2n+1):after { width:2px; height:6px; left: 5px; top:1px; }

#leaves i:nth-of-type(3n+2)  { height:17px; width:23px; }
#leaves i:nth-of-type(3n+2):before  { height:4px; width:4px; top:12px; right:1px; }
#leaves i:nth-of-type(3n+2):after  { height:10px; width:2px; top:1px; left:8px; }

#leaves i:nth-of-type(n)   { -webkit-animation-delay: 1.9s;}
#leaves i:nth-of-type(2n)  { -webkit-animation-delay: 3.9s;}
#leaves i:nth-of-type(3n)  { -webkit-animation-delay: 2.3s;}
#leaves i:nth-of-type(4n)  { -webkit-animation-delay: 4.4s;}
#leaves i:nth-of-type(5n)  { -webkit-animation-delay: 5s;  }
#leaves i:nth-of-type(6n)  { -webkit-animation-delay: 3.5s;}
#leaves i:nth-of-type(7n)  { -webkit-animation-delay: 2.8s;}
#leaves i:nth-of-type(8n)  { -webkit-animation-delay: 1.5s;}
#leaves i:nth-of-type(9n)  { -webkit-animation-delay: 3.3s;}
#leaves i:nth-of-type(10n) { -webkit-animation-delay: 2.5s;}
#leaves i:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
#leaves i:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
#leaves i:nth-of-type(13n) { -webkit-animation-delay: 1s;  }
#leaves i:nth-of-type(14n) { -webkit-animation-delay: 4.7s;}
#leaves i:nth-of-type(15n) { -webkit-animation-delay: 3s;  }

#leaves i:nth-of-type(n)    { background: linear-gradient(to bottom right, #309900, rgba(183,255,90,1)); }
#leaves i:nth-of-type(2n+2)  { background: linear-gradient(to bottom right, #0eb323, rgba(183,255,90,1)); }
#leaves i:nth-of-type(4n+1)  { background: linear-gradient(to bottom right, rgba(183,255,90,1),  #0eb323); }

#leaves i:nth-of-type(n)    { opacity: .7;}
#leaves i:nth-of-type(3n+1)  { opacity: .5;}
#leaves i:nth-of-type(3n+2)  { opacity: .5;}

#leaves i:nth-of-type(n)    {transform: rotate(180deg);}


#leaves i:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}

@-webkit-keyframes falling {
    
    0% {
        -webkit-transform:
            translate3d(300,0,0)
            rotate(0deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-350px,700px,0)
            rotate(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling3 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(-20deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-230px,640px,0)
            rotate(-70deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling2 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(90deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-400px,680px,0)
            rotate(0deg);
        opacity: 0;
    }
}

/*-- -------------------------- -->
<---           CARDS            -->
<--- -------------------------- -*/

#icon-boxes {
  position: relative;
}

.cards {
  max-width: 1000px;
  height: auto;
  padding-bottom: 50px;
}

.card {
  max-width: 300px;
  margin: 50px auto;
  border-radius: 8px;
  -webkit-box-shadow: -5px 7px 20px -10px rgba(0,0,0,0.51);
  -moz-box-shadow: -5px 7px 20px -10px rgba(0,0,0,0.51);
  box-shadow: -5px 7px 20px -10px rgba(0,0,0,0.51);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card svg {
  height: 100px;
  margin: 50px auto 10px auto;
  color: var(--main);
}

.card h3 {
  padding: 5px 2em;
  font-weight: bold;
}

.card p {
  font-size: 16px;
  padding: 0 2em 15px 2em;
}

#icon-boxes {
  position: relative;
}

.curve {
  position: absolute;
  border: 0px solid #fff;;
  bottom: 0px;
  opacity: .2;
}

/*-- -------------------------- -->
<---           ABOUT            -->
<--- -------------------------- -*/

#about {
  position: relative;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(211,211,211,.2);
}

#about svg {
  position: absolute;
  bottom: 0;
}

.card-group {
  position: absolute;
  z-index: 10;
  bottom: -130px;
}

.about-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-left img {
  width: 90%;
  margin: auto;
}

.about-card {
  width: auto;
  max-width: 400px;
  margin: 0px auto 80px auto;
  border-radius: 8px;
  -webkit-box-shadow: -5px 7px 20px -10px rgba(0,0,0,0.51);
  -moz-box-shadow: -5px 7px 20px -10px rgba(0,0,0,0.51);
  box-shadow: -5px 7px 20px -10px rgba(0,0,0,0.51);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px !important;
  background-color: #fff;
}

.about-card p {
  text-align: left;
  color: var(--p);
}

.about-card p:first-child {
  font-size: 15px;
  color: var(--main);
  text-align: left;
  width: 100%;
  margin: 0;
}

.about-card h2 {
  text-align: left;
  width: 100%;
  color: var(--header);
  margin-bottom: 20px;
}

.about-card button {
  margin-top: 20px;
  margin-right: auto;
  width: 200px;;
}

#about svg {
  position: absolute;
  border: 0px solid #fff;;
  bottom: 0px;
}

/*-- -------------------------- -->
<---         PROJECTS           -->
<--- -------------------------- -*/

.project-card {
  border-radius: 8px !important;
  -webkit-box-shadow: 0px 3px 7px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 7px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 7px -3px rgba(0,0,0,0.75);
  height: auto;
  margin-bottom: 50px;
}

.projects-header {
  padding-top: 120px;
}

.projects-c {
  padding-top: 5px;
}

.img-box {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.img-box svg {
  position: absolute;
  bottom: -1px;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
}

.path {
  width: 100%;
}

.image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.tag {
  font-size: 10px;
  background-color: #b30e9e;
  color: #fff;
  width: auto;
  display: inline-block;
  padding: 7px 15px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  font-weight: bold;
}

.tag2 {
  top: 35px;
}

.box-2 {
  padding: 0 20px 20px 20px;
}

.box-2 h3 {
  text-align: left;
  color: var(--header);
  font-weight: bold;
  font-size: 25px;
}

.box-2 p {
  margin-top: 20px;
  text-align: left;
  font-size: 15px;
  color: var(--p);
}

.topper {
  color: var(--main);
  text-align: left;
  font-size: 15px;
  margin: 0;
}

.topper-h {
  font-size: 29px;
  color: var(--header);
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px;
}

.projects-b {
  margin-bottom: 30px;
}

.projects svg {
  position: absolute;
  bottom: -2px;;
}

.projects-p {
  text-align: left;
  margin-bottom: 50px;
}

/*-- -------------------------- -->
<---        TESTIMONIALS        -->
<--- -------------------------- -*/

#testimonial {
  height: auto;
  background-color: rgba(211,211,211,.2);
}

.test {
  padding: 50px 0;
}

.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.client span {
  color: var(--main);
}

.client h3 {
  font-weight: bold;
  color: var(--header);
  font-size: 37px;
}

.client img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  -webkit-box-shadow: -1px 0px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 11px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 11px -1px rgba(0,0,0,0.75);
  margin: 25px 0;
}

.client p {
  color: var(--p);
  margin: 0;
  font-size: 18px;
  line-height: 1.6em;
}

.client p:last-child {
  font-size: 15px;
}

.name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}

.test-line {
  height: 3px;
  width: 100px;
  background: #999999;
  margin: 30px auto 10px auto;
  opacity: .6;
}

/*-- -------------------------- -->
<---            FORM            -->
<--- -------------------------- -*/

#form {
  background: url("yard.jpg");
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.form-dark {
  background: rgb(116,233,38);
  background: -moz-linear-gradient(140deg, rgba(116,233,38,1) 0%, rgba(0,255,246,1) 100%);
  background: -webkit-linear-gradient(140deg, rgba(116,233,38,1) 0%, rgba(0,255,246,1) 100%);
  background: linear-gradient(140deg, rgba(116,233,38,1) 0%, rgba(0,255,246,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#74e926",endColorstr="#00fff6",GradientType=1);
  opacity: .8;
  position: absolute;
  height: 100%;
  width: 100%;
}

.formcontainer {
  max-width:400px;
  width:100%;
  margin:0 auto;
  position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background: transparent;
  padding:80px 25px 80px 25px;
  margin: 0px 0 0 0;
  position: relative;
  z-index: 3;
}

#contact h3 {
  color: #fff;
  display: block;
  font-size: 30px;
  font-weight: 700;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  line-height: 1.6em;
}

form p{
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
  border-radius: 20px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:#b3039e;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
  border-radius: 25px;
}

#contact button[type="submit"]:hover {
  opacity: .6;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
color:#888;
}
:-moz-placeholder {
color:#888;
}
::-moz-placeholder {
color:#888;
}
:-ms-input-placeholder {
color:#888;
}

#form svg {
  position: relative;
  z-index: 20;
  bottom: -1px;
}

.svg-top {
  position: relative;
  top: -1px;
}

/*-- -------------------------- -->
<---           FOOTER           -->
<--- -------------------------- -*/

.footer-flex {
    padding-top: 50px;
    position: relative;
    z-index: 5;
}

#footer {
    background: #fff;
}

.footer-item p {
    margin: 0;
    text-align: left;
    color: #414141;
}

.footer-item img {
    margin: 0px 100% 30px 0;
    padding-top: 30px;
    float: left;
}

.footer-item h4 {
    font-size: 22px;
    color: #414141;
    text-align: left;
    margin-top: 40px;
}

.button-list a {
    text-decoration: none;
    margin-bottom: 15px;
    list-style: none;
    text-align: left;
    display: block;
}

.button-list a:hover {
    color: #E8E6E6;
}

.green {
    color: rgba(62,196,77,1);
    font-weight: bold;
}

.footer-item:last-child {
    padding-bottom: 30px;
}

.branding a {
    text-decoration: none;
}

.branding a:hover {
    color: rgba(62,196,77,1);
    opacity: .7;
}

.branding {
    height: 100px;
    text-align: center;
    background: #171717;
    padding-bottom: 50px;
}

.branding p {
    font-size: 13px;
    margin: 0;
    color: #fff;
}

p.b-margin {
    padding-top: 25px;
}

.footer-divider {
    height: 3px;
    width: 70%;
    background: rgba(62,196,77,1);
    margin: 10px 0;
}

ul {
    text-decoration: none;
    padding: 0;
}

.info-list {
  padding: 0;
}

.info-list li {
    color: #414141;
    text-align: left;
    font-family: 'Lato', sans-serif;
    line-height: 1.6em;
}

.info-list li:hover {
    color: #999999;
    cursor: pointer;
}

/* Tablets */
@media screen and (min-width: 500px) and (max-width: 1024px) {

    ul#on-top {
      left: 50%;
      top: -20px;
    }

    ul a {
      font-size: 20px;
    }

    .mobile-wrapper {
      height: 100px;
      width: 100px;
    }

    .mobile-nav.container {
      margin: 0 !important;
    }

    /*-- -------------------------- -->
    <---           HERO             -->
    <--- -------------------------- -*/

    #hero {
        background-repeat: no-repeat !important;
        height: 900px;
        position: relative;
    }

    #home-h {
      padding-top: 30px;
    }

    .heroText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        height: auto;
        width: 600px;
        margin: auto;
        position: relative;
        padding-top: 100px;
    }

    .heroText h1 {
      font-size: 60px;
      margin-bottom: 20px;
    }

    .hero-line {
      width: 400px;
    }

    .heroText h2 {
      font-size: 25px;
      line-height: 1.5em;
      margin-bottom: 20px;
      font-weight: normal;
    }

    .flex-button {
        display: flex;
        flex-direction: row;
    }

    .btn-hover {
      margin-right: 30px;
      height: 45px;
    }

    .work {
      padding-bottom: 100px;
      margin: auto;
    }

    /*-- -------------------------- -->
    <---           CARDS            -->
    <--- -------------------------- -*/

    .boxes {
      height: 1050px;
    }

    #icon-boxes {
      height: 1050px;
    }
    
    .cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      height: 1050px;
    }

    .card {
      margin: 15px !important;
      height: 440px !important;
    }

    /*-- -------------------------- -->
    <---           ABOUT            -->
    <--- -------------------------- -*/

    #about {
      height: 750px;
    }

    .about-card {
      max-width: 600px !important;
      margin: 0;
    }

    .about-left img {
      width: 500px;
    }

    .card-group.container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 600px;
      bottom: -30px;
    }

    /*-- -------------------------- -->
    <---         PORJECTS           -->
    <--- -------------------------- -*/

    .topper-h {
      font-size: 40px;
    }

    .projects-header {
      padding-top: 150px;
    }

    .projects-c {
      padding-top: 50px;
    }

    .projects-p {
      text-align: left;
      margin-bottom: 50px;
    }

    .project-groups {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .project-card {
      width: 320px;
    }

    .projects-b {
      margin: auto;
      margin-top: 50px;
    }

    /*-- -------------------------- -->
    <---        TESTIMONIAL         -->
    <--- -------------------------- -*/

    .client {
      max-width: 390px;
      margin: 80px auto;
    }

    .client h3 {
      font-size: 60px;
      margin-bottom: 50px;
    }

    /*-- -------------------------- -->
    <---           FORM             -->
    <--- -------------------------- -*/

    .form-container {
      max-width: 400px;
      margin: auto;
  }

    /*-- -------------------------- -->
    <---          FOOTER            -->
    <--- -------------------------- -*/

    .footer-flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        max-width: 550px;
        margin: auto;
    }

    .footer-item .half-divider {
        margin-left: 0;
    }

    .footer-item {
        width: 300px;
    }

    .footer-divider {
      margin: 10px auto;
    }

    .footer-item p,
    .footer-item h4 {
      text-align: center;
    }

    .info-list li {
      text-align: center;
    }

    .footer-item img {
        width: 180px;
    }

    .footer-item h4 {
        margin-top: 40px;
    }

}

@media screen and (min-width: 1025px) {

  /*-- -------------------------- -->
  <---         NAVIGATION         -->
  <--- -------------------------- -*/

  /* Page Wide */
  .container {
    max-width: 980px;
    padding: 0 2em;
    margin: auto;
  }

  #leaves {
    text-align: right;
    position: relative;
    right: 250px;
    top: -60px;
  }

  .navbar-menu {
    background: #fff;
    position: relative;
    z-index: 20;
    width: 100%;
  }

  .topper-flex,
  #brand,
  .navbar-menu,
  .mobile-nav {
    display: block;
  }

  .mobile-nav {
    display: none;
  }

  .open-slide,
  #side-menu {
    display: none;
  }

  /* Topper */
  .topper-wrapper {
    background: rgb(62,196,77);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topper-flex {
    background: transparent;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
  }

  .topper-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .topper-content i {
    margin-right: 10px;
    color: #fff;
    margin: auto 16px;
  }

  .topper-content p {
    margin-right: 25px;
    margin-bottom: 0;
    color: #fff;
  }

  /* Branding Bar */
  .brand-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    width: auto;
    position: relative;
    top: 0;
  }

  #brand {
    background: #fff;
  }

  .quote {
    margin-right: 50px;
  }

  .quote p, .call p {
    margin-bottom: 5px !important;
  }

  .branding-bar {
    width: 500px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:  0;
    margin: 0 !important;
  }

  .quote i {
    color: rgba(62,196,77,1);
    font-size: 45px;
    display: flex;
    align-items: center;
    margin-right: 25px;
  }

  .call i {
    color: rgba(62,196,77,1);
    font-size: 45px;
    display: flex;
    align-items: center;
    margin-right: 25px;
  }

  .quote {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }

  .quote-block p {
    margin: 0;
  }

  .quote-block p:first-child {
    margin-bottom: 10px;
  }

  .call {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }

  .call-block p {
    margin: 0;
  }

  .call-block p:first-child {
    margin-bottom: 10px;
  }

  /* Desktop Navbar */
  #navbar {
    height: 245px;
    border-bottom: 5px solid rgba(62,196,77,1);
    position: relative;
    z-index: 15;
  }

  .navbar-menu {
    width: auto;
    height: 60px;
    border-top: 1px solid rgba(118, 118, 118, .5);
  }

  ul a {
    top: 0;
    right: 0;
    color: rgba(118, 118, 118, 1);
  }

  ul.navbar-links {
    display: flex;
    align-items: center;
    float: left !important;
    padding: 0;
    height: 59px;
    width: 300vh;
    background: #fff;
    position: relative;
    z-index: 40;

  }

  .navbar-menu {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 100;
  }

  .navbar-links li a {
    width: auto;
    text-align: left;
    padding: 18px 20px;
    margin-right: 10px;
  }

  .navbar-links li a:hover {
    color: darkred;
    opacity: .5;
  }

  .active-menu {
    color: rgba(62,196,77,1);
    border-top: 4px solid rgba(62,196,77,1);
  }

  .navbar-links li {
    width: auto;
    text-align: left;
    float: left;
    margin: 10px 10px 10px 0;
  }

  .mobile-wrapper, #navbar, nav {
    border-radius: 0;
    width: 100%;
  }

  .mobile-wrapper {
    height: 130px;
    width: 100%;
  }

  #navbar, nav {
    position: relative;
    z-index: 10;
  }


    /*-- -------------------------- -->
    <---           HERO             -->
    <--- -------------------------- -*/

    #hero {
        height: 850px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #home-h {
        font-size: 40px;
        width: 800px;
    }

    #home-p {
        width: 600px;
        margin: 15px 0;
        font
    }

    .btn-hover {
        margin-right: 25px;
    }

    .hero-content {
        padding-top: 40px;
    }

    /*-- -------------------------- -->
    <---           SERVICE          -->
    <--- -------------------------- -*/

    .boxes {
      height: 600px;
    }

    .cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      height: auto;
      position: relative;
      top: -200px;
      z-index: 100;;
    }

    .card {
      margin: 0;
    }

    .card-group {
      top: 100px;
    }

    .middle-card {
      transform: scale(1.2);
    }

    /*-- -------------------------- -->
    <---            ABOUT           -->
    <--- -------------------------- -*/

    .card-group {
      display: flex;
      flex-direction: row;
      height: 650px !important;
      width: 980px;
      max-width: 980px !important;
      justify-content: center;
      align-items: center;
      top: 0;
      margin: 0;
    }

    .about-right {
      margin: 0;
      position: absolute;
      width: 650px;
      right: 0;
    }

    .about-left img {
      width: 400px;
      margin: 0;
      position: absolute;
      left: 15px;
      top: 190px;
    }

    .about-card {
      margin: 0;
      max-width: 650px;
    }

    .about-card h2 {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 34px;
    }

    .about-p {
      line-height: 1.5em;
    }

    /*-- -------------------------- -->
    <---          OUR WORK          -->
    <--- -------------------------- -*/

    .project-groups {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .project-card {
      width: 250px;
      height: 420px;
    }

    /*-- -------------------------- -->
    <---            FORM            -->
    <--- -------------------------- -*/

    #contact {
      max-width: 400px;
      margin: auto;
  }

    #form {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*-- -------------------------- -->
    <---           FOOTER           -->
    <--- -------------------------- -*/

    #footer {
        top: 0;
    }

    .footer-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-item img {
        margin: 40px 50px 35px 0;
        padding: 0;
    }

    .footer-item {
        width: 20%;
    }

    .footer-item h4 {
        font-weight: 900;
    }

    .footer-item p {
        font-size: 15px;
    }

    .footer-line {
        width: 85%;
    }

    .branding {
        height: 100px;
    }

    .branding p {
        margin-bottom: 2px;
    }

  }